<?xml version="1.0" encoding="UTF-8"?>
<widget id="io.cocoon.sample.2048" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cocoon="http://cocoon.io/ns/1.0">
    <name>2048</name>
    <description>
2048 game with Cocoon.io using https://github.com/gabrielecirulli/2048 as base.
    </description>

    <!-- Shown in the wizard -->
    <icon src="icon.png" />

    <content src="index.html" />
    <access origin="*"/>
    
    <preference name="Orientation" value="portrait"/>
    <preference name="Fullscreen" value="true"/>

    <cocoon:plugin name="com.ludei.webviewlus.ios"/>
    <cocoon:plugin name="com.ludei.webviewlus.android"/>
</widget>